
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

page-container {
  display: flex;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin:auto;
  height: 100vh;
}

content-wrap {
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -7rem;
}

.footer {
  background-color: #283747 ;
  width: 100%;
  bottom: 0;
  height: 7rem;            /* Footer height */
  position: relative;
  /* negative value of footer height */
}


