.header {
    flex: 1;
    flex-direction: row;
    background-size: cover;
    background-color:  #138d75;
    height: 100px;
    margin: auto;
    width: 100%;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #138d75;
}

.link {
    color:  #ffffff;
    font-size:1.3em;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.navContainer {
    list-style: none
}

.brandLink{
    color: 	#ffffff;
    text-decoration: none;
}

.navIcon{
    color: 	#ffffff;
    size:1em;
    margin-right:3px
}
