.header {
    background-size: cover;
    background: url("../../images/moss.png") no-repeat;
    height: 150px;
    margin: auto;
    width: 80%;
}

.link {
    color: #f1f1f1;
    font-size:1.2em;
    font-weight: bold;
    text-decoration: none;

}

.navContainer {
    list-style: none
}

.brandLink{
    color:#f1f1f1;
    text-decoration: none;
}

.navIcon{
    color: #f1f1f1;
    size:1em;
    margin-right:3px
}

.credits{
    color:#f2f2f2;
    margin-right:10px;
    text-align: right;
    margin-top: 60px;
}