.header {
    background-size: cover;
    background-color: #F2F2F2;
    height: 50px;
    margin: auto;
    width: 80%;
    border-style: none none solid none;
    border-width: 1px;
    border-color:#BA6222
}

.link {
    color:  #E49135;
    font-size:1.3em;
    text-decoration: none;
}

a:hover {
    color: #BA6222;
}

.navContainer {
    list-style: none
}

.brandLink{
    color: 	#BA6222;
    text-decoration: none;
}

.navIcon{
    color: 	#BA6222;
    size:1em;
    margin-right:3px
}
