ul.header li {
    display:inline;
    list-style-type:none;
    margin:0;
}

ul.header {
    background-color: #111111;
    padding:0;
}

ul.header li a {
    color: #FFF;
    font-weight:bold;
    text-decoration:none;
    padding:20px;
    display:inline-block;
}

.link {
    color: #f1f1f1;
    font-size:1.2em
}

.brandLink{
    color:#f1f1f1
}

.navIcon{
    color: #f1f1f1;
    size:1em;
    margin-right:3px
}